<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SOTRE.Domain.Properties.Settings.SOTREConnectionString"
            connectionString="Data Source=ANALIS-HP;Initial Catalog=SOTRE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOTRE.Domain.Properties.Settings.SOTREConnectionString1"
            connectionString="Data Source=INFO-1201725\SQLEXPRESS;Initial Catalog=SOTRE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOTRE.Domain.Properties.Settings.SOTREConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=SOTRE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOTRE.Domain.Properties.Settings.tempdbConnectionString"
            connectionString="Data Source=Tiago-PC\SQLEXPRESS;Initial Catalog=SOTRE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOTRE.Domain.Properties.Settings.tempdbConnectionString1"
            connectionString="Data Source=Tiago-PC\SQLEXPRESS;Initial Catalog=tempdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>