<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SOTRE.Domain.Properties.Settings.TCM"
            connectionString="Data Source=INFO-1201725\SQLEXPRESS;Initial Catalog=SOTRE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOTRE.Domain.Properties.Settings.AnaLis"
            connectionString="Data Source=localhost;Initial Catalog=SOTRE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>